@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-bg {
    background-image:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3)), url("Hero.jpg")
}

.error-bg {
    background-image: url("404BG.jpg");
}

.signup-bg {
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1)), url("SignupBG.jpg");
}


.main {
    background-color:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3));
}

.loading {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}